html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background: #0F1019;
    color: white;
}

/* FONT STYLES*/
.orbitron{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@font-face {
    font-family: 'rechargebold';
    src: url('../font/webfontkit-20240611-052520/recharge_bd-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20240611-052520/recharge_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ethnocentricitalic';
    src: url('../font/webfontkit-20240611-052520/ethnocentric_rg_it-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20240611-052520/ethnocentric_rg_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ethnocentricregular';
    src: url('../font/webfontkit-20240611-052520/ethnocentric_rg-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20240611-052520/ethnocentric_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* FONT END*/





/* NAVBAR STYLES */
#nav-body .nav-link{
    font-size: 16px;
    color: #989898;
    font-weight: 500;
    margin-left: 40px;
}
  
.nav-link:hover::after {
    width: 100%;
    left: 0;
}

#logo, .offcanvas-title{
    width: 160px;
    font-family: 'ethnocentricitalic';
    color: white;
    font-size: 75px;
    letter-spacing: -21px;
    line-height: normal;
    position: relative;
    -webkit-mask-image: linear-gradient(-75deg, rgba(255, 255, 255, .6) 50%, #fa0 50%, rgba(0, 0, 0, 1) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.navbar{
    height: 158px;
}

.color{
    color: #3EB489;
}

.offcanvas{
    background: #0F1019;
}

#offcanvasNavbar .btn-close{
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FF0000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    opacity: 0.5;
    font-size: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    transform: translate(-10px, 6px);
}

#offcanvasNavbar .btn-close:hover{
    opacity: 100%;
    transition: opacity 0.3s ease;
}

@keyframes shine{
    0%{
        -webkit-mask-position: 150%;
    }
    100%{
        -webkit-mask-position: -50%;
    }
}
/* NAVBAR END */



/* CONTENT */
#logo-content{
    font-family: rechargebold;
    font-size: 128px;
    color: white;
}

.hero-section, .basic-info, .contact, footer{
    margin-top: 5rem;
}

.logo-text{
    font-size: 20px;
    width: 504px;
    margin-left: 5px;
}

.logo-image{
    filter: saturate(1.2) hue-rotate(175deg) brightness(1.5);
    left: 61%;
}

.logo-image img{
    width: 500px;
}

.explore{
    margin-top: 5%;
    color: white;
    background-color:#3EB489;
    padding: 10px 15px 10px 25px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: .2s;
}

.explore::after{
    content: '\f061';
    font-family: fontAwesome;
    position: relative;
    left: -20px;
    opacity: 0;
    transition: .2s;
}

.explore:hover::after{
    left: 10px;
    opacity: 1;
}

.explore:hover{
    padding: 10px 30px 10px 25px;
    transition: all .3s;
}

.center{
    margin-top: 105px;
    margin-left: 5px;
}

.basic-info{
    height: 775px;
}

.hacker img{
    width: 630px;
    margin-top: 100px;
    border-radius: 30px;
    filter: saturate(1.2) hue-rotate(175deg) brightness(1.5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.hero-section{
    height: 555px;
}

.text:first-child{
    margin-top: 102px;
}

.line{
    padding: 0;
    width: 5px;
    height: 147px;
    background: #3eb489;
    left: 55%;
    top: 30%;
}

.gradient{
    width: 183px;
    height: 135rem;
    transform: rotate(-73deg);
    background: #3EB489;
    filter: blur(100px);
    left: 47%;
    top: -100%;
    z-index: -1;
}

.text{
    width: 500px;
    color: #989898;
    font-size: 20px;
    margin-left: auto;
}

.head{
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin-bottom: 5px;
}

.contact{
    height: 270px;
    border: 5px solid transparent;
}

.contact-head{
    font-size: 62px;
}

.contact-head .color{
    font-family: rechargebold;
}

.contact .center{
    margin-left: 0;
    margin-top: 60px;
}

footer{
    height: 270px;
}

#footer-logo{
    width: 160px;
    font-family: 'ethnocentricitalic';
    color: white;
    font-size: 75px;
    letter-spacing: -21px;
    line-height: normal;
}

.footer-gradient{
    height: 2px;
    background: radial-gradient(circle at center, white, #66b2b2, #3EB489, #006666, #004c4c);
    width: 100%;
}

#footer-nav ul{
    all: unset;
    gap: 10rem;
}

#footer-nav .navlink{
    text-decoration: none;
    color: #989898;
}

#footer-nav .navlink:hover{
    color: white;
    transition: color .2s;
}

#footer-nav{
    width: 100%;
}

.footer-last{
    width: 100%;
}

.copy{
    line-height: 40px;
}

.sci #links{
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    border-radius: 50%;
    font-size: 24px;
    width: 40px;
    line-height: 40px;
    height: 40px;
}

#links:hover{
    color: #3EB489;
    box-shadow: 0 0 30px#3EB489;
    transition: all .5s;
}

.socials ul {
    margin: 0;
    padding: 0;
    display: flex;
}
  
.socials ul li {
    list-style: none;
    margin: 0 15px;
}
  
.socials li a {
    position: relative; 
    display: block;
    text-align: center;
    background: #0F1019;
    border-radius: 50%;
    color: white;
    transition: .5s;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
}
  
.socials li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #3eb489;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.socials li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #3eb489;
}
  
.socials li a:hover {
    color: #3eb489;
    box-shadow: 0 0 5px #3eb489;
    text-shadow: 0 0 5px #3eb489;
}

.hid{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-50%);
    transition: opacity 1s, transform 1s, filter 1s;
}

.sh{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hero-section .hid, .contact .hid, #explore.hid{
    transform: translateX(0) translateY(-50%);
}

.hero-section .sh, .contact .sh, .center .sh{
    transform: translateX(0) translateY(0);
}

.hacker .hid{
    opacity: 0;
    filter: blur(10px) saturate(1.2) hue-rotate(175deg) brightness(1.5);
    transform: none;
    transition: all 1s;
}

.hacker .sh{
    opacity: 1;
    filter: blur(0) saturate(1.2) hue-rotate(175deg) brightness(1.5);
    transform: none;
}
/* END OF CONTENT */

/* CONTENT-ABOUT */
.yap2{
    gap: 5rem;
}

.yap-text{
    text-align: center;
}

.yap2 .yap-header{
    margin: 10rem auto 0 auto;
}

.yap2 .yap-text{
    margin: 7rem auto 0 auto;
    line-height: 2rem;
}

.yap2 .center{
    font-size: 14px;
    margin-top: 10rem;
}

.yap1{
    margin-top: 13rem;
}

.yap-header{
    font-size: 50px;
    font-family: rechargebold;
}

.containerr {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.containerr .card {
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.containerr .card .contentt {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.containerr .card:hover .contentt {
	transform: translateY(-20px);
}

.containerr .card .contentt .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.containerr .card .contentt .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
    border: 1px solid white;
}

.containerr .card .contentt .contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.containerr .card .contentt .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.containerr .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
    padding: 0;
}

.containerr .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.containerr .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.containerr .card .sci li a {
	color: #fff;
	font-size: 20px;
}

.circle{
    height: 300px;
    width: 300px;
    background-color: #3EB489;
    border-radius: 50%;
    filter: blur(140px);
    opacity: .7;
}

#g1{
    top: -42%;
    left: 37%;
    transform: rotate(101deg);
    opacity: 0.6;
    filter: blur(120px);
    width: 183px;
    height: 2167px;
    background: #3EB489;
    z-index: -1;
}

#g2{
    top: 81%;
    left: 70%;
}

#g3{
    top: 50%;
}

.yap-header.hid, .card.hid{
    transform: translateX(0) translateY(-50%);
}

.yap-header.sh, .card.sh{
    transform: translateX(0) translateY(0);
}

.yap-text.hid, .yap1 .yap-header.hid{
    transform: translateX(0);
}
/* END OF ABOUT */






/* MEDIA QUERIES */
@media (min-width: 1400px){
    .nav-link {
        position: relative;
        display: inline-block;
        text-decoration: none;
    }
    
    .nav-link::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #3EB489; /* Underline color */
        transition: width 0.4s, left 0.4s;
        color: white;
    }
    
    #nav-body .nav-link:hover{
        color: white;
    }

    #logo-content{
        line-height: 128px;
    }

    .yap2 .yap-header{
        margin-top: 5rem;
        width: 43rem;
    }

    .yap2 .center{
        margin-top: 5rem;
    }

    .yap2 .yap-text{
        margin-top: 0;
        text-align: center;
    }  
}

@media (min-width: 1200px) and (max-width: 1399px){
    .nav-link {
        position: relative;
        display: inline-block;
        text-decoration: none;
    }
    
    .nav-link::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #3EB489; /* Underline color */
        transition: width 0.4s, left 0.4s;
        color: white;
    }
    
    #nav-body .nav-link:hover{
        color: white;
    }

    #logo-content{
        font-size: 110px;
        line-height: 128px;
    }

    .logo-image img{
        width: 440px;
    }

    .hacker img{
        width: 545px;
        height: 500px;
    }

    .head{
        font-size: 22px;
    }

    .text{
        width: 445px;
        font-size: 18PX;
    }

    .contact-head{
        font-size: 53px;
    }

    .basic-info{
        height: 725px;
    }

    .yap-header{
        font-size: 49px;
    }

    .yap2 .yap-header{
        margin-top: 5rem;
        width: 43rem;
    }

    .yap2 .center{
        margin-top: 5rem;
    }

    .yap2 .yap-text{
        margin-top: 0;
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .nav-link {
        position: relative;
        display: inline-block;
        text-decoration: none;
    }
    
    .nav-link::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #3EB489; /* Underline color */
        transition: width 0.4s, left 0.4s;
        color: white;
    }
    
    #nav-body .nav-link:hover{
        color: white;
    }

    #logo-content{
        font-size: 95px;
        line-height: 100px;
    }

    .logo-image img {
        width: 360px;
    }

    .logo-image{
        top: 60px;
    }

    .hacker img {
        width: 458px;
        height: 460px;
    }

    .head{
        font-size: 20px;
    }

    .text{
        width: 350px;
        font-size: 16PX;
    }

    .text:first-child{
        margin-top: 50px;
    }

    .contact-head{
        font-size: 44px;
    }

    .basic-info{
        height: 675px;
    }

    .yap2 .yap-header{
        margin-top: 5rem;
        width: 43rem;
    }

    .yap2 .center{
        margin-top: 5rem;
    }

    .yap2 .yap-text{
        margin-top: 0;
        text-align: center;
    }

    #g1{
        top: -33%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .nav-link {
        position: relative;
        display: inline-block;
        text-decoration: none;
    }
    
    .nav-link::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #3EB489; /* Underline color */
        transition: width 0.4s, left 0.4s;
        color: white;
    }
    
    #nav-body .nav-link:hover{
        color: white;
    }

    .nav-item:first-child #first{
        margin-left: 0;
    }

    #logo-content{
        font-size: 65px;
        line-height: 75px;
    }

    .logo-text{
        font-size: 16px;
        width: 380px;
    }

    .logo-image img {
        width: 295px;
    }

    .hero-section{
        height: 390px;
    }

    .logo-image{
        top: 1%;
        left: 59%;
    }

    .hacker img {
        width: 335px;
        height: 304px;
    }

    .text{
        font-size: 14px;
        width: 366px;
    }

    .head{
        font-size: 18px;
    }
    
    .info{
        text-align: center;
        padding: 0;
    }

    .text{
        margin-right: auto;
    }

    .basic-info {
        height: 990px;
    }

    .line{
        left: 50%;
        top: 40%;
        transform: rotate(90deg);
    }

    .gradient{
        transform: rotate(-53deg);
        left: 25%;
        top: -64%;
    }

    .contact{
        height: 205px;
        margin-top: 5rem;
    }

    .contact-head{
        font-size: 33px;
    }

    #footer-nav ul{
        gap: 5rem;
    }

    .yap2{
        height: 636px;
    }

    .yap2 .yap-header{
        margin-top: 5rem;
        width: 43rem;
    }

    .yap2 .center{
        margin-top: 5rem;
    }

    .yap2 .yap-text{
        margin-top: 0;
        text-align: center;
    }

    .yap1{
        margin-top: 7rem;
    }

    #g1{
        top: -33%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .nav-link{
        margin-top: 35px;
        background: linear-gradient(to right, #3EB489 50% , white 50%);
        background-size: 200% 100%;
        background-position: 100% 0;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip:  text;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .nav-link:hover{
        background-position: 0 0;
        transition: 0.7s ease-in;
    }

    .navbar{
        height: 60px;
        margin: 0 20px;
    }

    #nav-body .nav-link{
        margin-left: 0;
    }

    ul .nav-item{
        height: 60px;
        transform: translateY(15%);
    }

    #logo, .offcanvas-title{
        font-size: 25px;
        letter-spacing: -5px;
    }

    .navbar-toggler, .navbar-toggler:focus{
        border: 0;
        width: 25px;
        height: 25px;
        padding: 0;
        box-shadow: none;
    }

    .navbar-toggler-icon{
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3e%3cpath stroke='rgba%28196, 50, 89, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        transform: translateY(-3px) translateX(-2px);
    }

    #logo-content{
        font-size: 50px;
        line-height: 55px;
    }

    .logo-text{
        font-size: 14px;
        width: 295px;
    }

    .logo-image img {
        width: 230px;
    }

    .hero-section{
        height: 390px;
    }

    .logo-image{
        top: 2%;
        left: 57%;
    }

    .hacker img {
        width: 335px;
        height: 304px;
    }

    .text{
        font-size: 12px;
        width: 366px;
    }

    .head{
        font-size: 16px;
    }
    
    .info{
        text-align: center;
        padding: 0;
    }

    .text{
        margin-right: auto;
    }

    .basic-info {
        height: 990px;
    }

    .line{
        left: 50%;
        top: 40%;
        transform: rotate(90deg);
    }

    .gradient{
        transform: rotate(-53deg);
        left: 25%;
        top: -64%;
    }

    .contact{
        height: 205px;
        margin-top: 5rem;
        font-size: 15px;
    }

    .contact-head{
        font-size: 24px;
    }

    #footer-nav ul{
        gap: 5rem;
    }

    .copy{
        font-size: 13px;
    }

    #links:first-child{
        margin-left: 0;
    }

    .footer-last #links{
        margin-left: 1rem;
    }

    .yap2 .yap-header{
        margin-top: 5rem;
        font-size: 38px;
    }

    .yap2{
        height: 665px;
    }

    .yap2 .center{
        margin-top: 5rem;
    }

    .yap2 .yap-text{
        line-height: 1.8rem;
        text-align: center;
        margin-top: 0;
    }

    .yap1{
        margin-top: 7rem;
    }

    #g1{
        top: -24%;
    }
}

@media (max-width: 575px){
    .nav-link{
        margin-top: 35px;
        background: linear-gradient(to right, #3EB489 50% , white 50%);
        background-size: 200% 100%;
        background-position: 100% 0;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip:  text;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .nav-link:hover{
        background-position: 0 0;
        transition: 0.7s ease-in;
    }

    .navbar{
        height: 60px;
    }

    #nav-body .nav-link{
        margin-left: 0;
    }

    ul .nav-item{
        height: 60px;
        transform: translateY(15%);
    }

    #logo, .offcanvas-title{
        font-size: 25px;
        letter-spacing: -5px;
    }

    .navbar-toggler, .navbar-toggler:focus{
        border: 0;
        width: 25px;
        height: 25px;
        padding: 0;
        box-shadow: none;
    }

    .navbar-toggler-icon{
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3e%3cpath stroke='rgba%28196, 50, 89, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        transform: translateY(-3px) translateX(-2px);
    }

    #logo-content{
        font-size: 9vw;
        line-height: 8vw;
    }

    #explore{
        font-size: 14px;
    }

    .hero-section{
        height: 215px;
    }

    .center{
        margin-top: 50px;
    }

    .logo-text{
        font-size: 2vw;
        width: 60vw;
    }

    .logo-image img {
        width: 175px;
    }

    .logo-image{
        top: 5;
        left: 60%;
    }

    .hacker{
        height: min-content;
    }

    .hacker img {
        margin-top: 0;
        width: 278px;
        height: 260px;
    }

    .text{
        font-size: 12px;
        width: 295px;
    }

    .head{
        font-size: 16px;
    }
    
    .info{
        text-align: center;
        padding: 0;
    }

    .text{
        margin-right: auto;
    }

    .basic-info {
        height: 750px;
    }

    .line{
        left: 50%;
        top: 33%;
        transform: rotate(90deg);
    }

    .gradient{
        transform: rotate(-43deg);
        left: 25%;
        top: -94%;
    }

    .contact{
        height: 205px;
        margin-top: 5rem;
        font-size: 12px;
    }

    .contact-head{
        font-size: 23px;
    }

    .contact .center{
        margin-top: 35px;
    }

    #footer-nav ul{
        gap: 1rem;
    }

    #footer-logo{
        width: 100px;
        font-size: 50px;
        letter-spacing: -16px;
    }

    #footer-nav .navlink{
        font-size: 12px;
    }

    .copy{
        text-align: center;
        font-size: 12px;
    }

    .footer-last #links{
        font-size: 20px;
        margin-left: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    #links:first-child{
        margin-left: 0;
    }
    
    .yap2 .yap-header{
        margin-top: 5rem;
        font-size: 30px;
    }
    
    .yap2 .center{
        margin-top: 5rem;
    }
    
    .yap2 .yap-text{
        max-height: 550px;
        line-height: 1.8rem;
        text-align: center;
        margin-top: 0;
    }

    .yap1{
        margin-top: 7rem;
    }

    #g1{
        top: -24%;
    }

    .footer-last{
        flex-direction: column;
    }
}
/* END OF MEDIA QUERIES */

