body{
    background: #0F1019;
}


/* FONT STYLES*/
.orbitron{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@font-face {
    font-family: 'rechargebold';
    src: url('../font/webfontkit-20240611-052520/recharge_bd-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20240611-052520/recharge_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ethnocentricitalic';
    src: url('../font/webfontkit-20240611-052520/ethnocentric_rg_it-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20240611-052520/ethnocentric_rg_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ethnocentricregular';
    src: url('../font/webfontkit-20240611-052520/ethnocentric_rg-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20240611-052520/ethnocentric_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* FONT END*/





/* NAVBAR STYLES */
#nav-body .nav-link{
    font-size: 16px;
    color: #989898;
    font-weight: 500;
    margin-left: 40px;
}
  
.nav-link:hover::after {
    width: 100%;
    left: 0;
}

#logo, .offcanvas-title{
    width: 160px;
    font-family: 'ethnocentricitalic';
    color: white;
    font-size: 75px;
    letter-spacing: -21px;
    line-height: normal;
    position: relative;
    -webkit-mask-image: linear-gradient(-75deg, rgba(255, 255, 255, .6) 50%, #fa0 50%, rgba(0, 0, 0, 1) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.navbar{
    height: 158px;
}

.color{
    color: #C43259;
}

.navbar{
    margin: 0 90px;
}

.offcanvas{
    background: #252525;
}

#offcanvasNavbar .btn-close{
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FF0000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    opacity: 0.5;
    font-size: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    transform: translate(-10px, 6px);
}

#offcanvasNavbar .btn-close:hover{
    opacity: 100%;
    transition: opacity 0.3s ease;
}

@keyframes shine{
    0%{
        -webkit-mask-position: 150%;
    }
    100%{
        -webkit-mask-position: -50%;
    }
}
/* NAVBAR END */






/* MEDIA QUERIES */
@media (min-width: 992px) {
    .nav-link {
        position: relative;
        display: inline-block;
        text-decoration: none;
    }
    
    .nav-link::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #C43259; /* Underline color */
        transition: width 0.4s, left 0.4s;
        color: white;
    }
    
    #nav-body .nav-link:hover{
        color: white;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .nav-link {
        position: relative;
        display: inline-block;
        text-decoration: none;
    }
    
    .nav-link::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #C43259; /* Underline color */
        transition: width 0.4s, left 0.4s;
        color: white;
    }
    
    #nav-body .nav-link:hover{
        color: white;
    }

    .navbar .container-fluid{
        flex-wrap: wrap;
    }

    .nav-item:first-child #first{
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .nav-link{
        margin-top: 35px;
        background: linear-gradient(to right, #00ff00 50% , white 50%);
        background-size: 200% 100%;
        background-position: 100% 0;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip:  text;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .nav-link:hover{
        background-position: 0 0;
        transition: 0.7s ease-in;
    }

    .navbar{
        height: 60px;
        margin: 0 20px;
    }

    #nav-body .nav-link{
        margin-left: 0;
    }

    ul .nav-item{
        height: 60px;
        transform: translateY(15%);
    }

    #logo, .offcanvas-title{
        font-size: 25px;
        letter-spacing: -5px;
    }

    .navbar-toggler, .navbar-toggler:focus{
        border: 0;
        width: 25px;
        height: 25px;
        padding: 0;
        box-shadow: none;
    }

    .navbar-toggler-icon{
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3e%3cpath stroke='rgba%28196, 50, 89, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        transform: translateY(-3px) translateX(-2px);
    }
}
/* END OF MEDIA QUERIES */

